<h1>hello this is a page for changing password</h1>

<h3>Enter your new password in the following field</h3>
<form action="/newpassword/<%=person._id%>" method="POST">
    <input name="newpassword" placeholder="New Password">
    <button type="submit">Reset </button>
</form>
