<html>
  <head>
    <title>PIZIGGY</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div
      class="limiter"
      style="height: auto; background-image: url('images/loginbg.png')"
    >
      <div style="padding-top: 5%; padding-left: 40%">
        <p
          style="
            font-family: 'Satisfy', cursive;
            font-size: 12vh;
            color: rgb(174, 241, 48);
          "
        >
          Pizzigy
        </p>
      </div>
      <div
        class="container-login100"
        style="height: auto; background-image: url('images/loginbg.png')"
      >
        <div
          class="wrap-login100"
          style="
            margin-top: 9%;
            margin-bottom: 10%;
            height: auto;
            width: 84%;
            background-color: aliceblue;
          "
        >
          <form
            action="/register"
            method="POST"
            class="login100-form validate-form"
            style="
              padding-top: 12%;
              padding-left: 9.5%;
              margin-bottom: 10%;
              padding-bottom: 5%;
            "
          >
            <div>
              <span
                class="login100-form-title p-b-34"
                style="padding-left: 10%"
              >
                Registration
              </span>

              <div
                class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
                data-validate="Type user name"
                style="width: 120%; border-color: rgb(156, 177, 157)"
              >
                <input
                  id="first-name"
                  class="input100"
                  type="text"
                  name="name"
                  placeholder="Full Name"
                />
                <span class="focus-input100"></span>
              </div>

              <div
                class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
                data-validate="Type user name"
                style="width: 120%; border-color: rgb(156, 177, 157)"
              >
                <input
                  id="first-name"
                  class="input100"
                  type="text"
                  name="username"
                  placeholder="User name"
                />
                <span class="focus-input100"></span>
              </div>
              <div
                class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
                data-validate="Type user name"
                style="width: 120%; border-color: rgb(156, 177, 157)"
              >
                <input
                  id="first-name"
                  class="input100"
                  type="text"
                  name="email"
                  placeholder="Email"
                />
                <span class="focus-input100"></span>
              </div>
              <div
                class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
                data-validate="Type user name"
                style="width: 120%; border-color: rgb(156, 177, 157)"
              >
                <input
                  id="first-name"
                  class="input100"
                  type="text"
                  name="mobile"
                  placeholder="Mobile Number"
                />
                <span class="focus-input100"></span>
              </div>

              <div
                class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
                data-validate="Type password"
                style="width: 120%; border-color: rgb(156, 177, 157)"
              >
                <input
                  class="input100"
                  type="password"
                  name="pass"
                  placeholder="Password"
                />
                <span class="focus-input100"></span>
              </div>

              <div
                class="wrap-input100 rs1-wrap-input100 validate-input m-b-20"
                data-validate="Type password"
                style="width: 120%; border-color: rgb(156, 177, 157)"
              >
                <input
                  class="input100"
                  type="password"
                  name="confirmpass"
                  placeholder="Confirm Password"
                />
                <span class="focus-input100"></span>
              </div>

              <div
                class="container-login100-form-btn"
                style="width: 120%; margin-top: 10%"
              >
                <button class="login100-form-btn">Sign Up</button>
              </div>
            </div>

            <div class="w-full text-center p-t-27 p-b-239">
              <span
                class="txt2"
                style="font-size: medium; color: black; left: 5%"
                >Already Member at Piziggy ?
              </span>
              <span style="padding-left: 6px">
                <a href="/login" class="txt2" style="font-size: medium">
                  <u>Sign In Here</u>
                </a> </span
              ><br />
            </div>
          </form>
          <div
            class="login100-more"
            style="background-image: url('images/registerpizza.jpg')"
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
