<h1>Hello There!</h1>
<h3>You want to reset your password! Follow the instructions.</h3>
<h3>Instructions</h3>
<p>
    <li>Insert your email in the following field.</li>
    <li>You must be already have registered, otherwise you will be directed to register page</li>
    <li>If registered, a password reset lin will be sent to your email.</li>
    <li>Open the lin and then reset your password.</li>
</p><br><br>
<form action="/reset" method="POST">
<input name="resetemail" placeholder="enter email here">
<br>
<button type="submit">reset</button>
</form>
